[Unit]
Description=TTYD
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/ttyd -t fontSize=23 -t titleFixed=ttyd  -t enableZmodem=true -t disableResizeOverlay=true -t disableReconnect=true -p 38050 login
Type=simple
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target